<h1>ダッシュボード</h1>
<ul>
  <li><%= link_to "車両一覧", vehicles_path %></li>
  <li><%= link_to "データ取込（Excel）", new_import_path %></li>
  <li><%= link_to "給与集計", payrolls_path %></li>
  <li><%= link_to "社員レポート", reports_employees_path %></li>
  <li><%= link_to "月次レポート", reports_months_path %></li> <!-- ★ 追加 -->
</ul>
