<div id="<%= dom_id vehicle %>">
  <p>
    <strong>Name:</strong>
    <%= vehicle.name %>
  </p>

  <p>
    <strong>Number plate:</strong>
    <%= vehicle.number_plate %>
  </p>

  <p>
    <strong>Manufacturer:</strong>
    <%= vehicle.manufacturer %>
  </p>

  <p>
    <strong>Model code:</strong>
    <%= vehicle.model_code %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= vehicle.year %>
  </p>

  <p>
    <strong>Mileage km:</strong>
    <%= vehicle.mileage_km %>
  </p>

  <p>
    <strong>Archived at:</strong>
    <%= vehicle.archived_at %>
  </p>

  <p>
    <strong>Vehicle code:</strong>
    <%= vehicle.vehicle_code %>
  </p>

</div>
