<h1>車両一覧</h1>

<p><%= link_to "新規登録", new_vehicle_path %></p>

<table border="1" cellpadding="4">
  <tr>
    <th>ID</th>
    <th>区分</th>
    <th>ナンバー</th>
    <th>通称</th>
    <th>営業所</th>
  </tr>
  <% @vehicles.each do |v| %>
    <tr>
      <td><%= v.id %></td>
      <td><%= v.kind %></td>
      <td><%= v.number_plate %></td>
      <td><%= v.nickname %></td>
      <td><%= v.depot_name %></td>
    </tr>
  <% end %>
</table>
