<h1>車両一覧</h1>

<p><%= link_to "新規登録", new_vehicle_path %></p>

<table border="1" cellpadding="4">
  <tr>
    <th>ID</th>
    <th>区分</th>
    <th>ナンバー</th>
    <th>通称</th>
    <th>営業所</th>
    <th>操作</th>
  </tr>
  <% @vehicles.each do |v| %>
    <tr>
      <td><%= v.id %></td>
      <td><%= v.kind %></td>
      <td><%= v.number_plate %></td>
      <td><%= v.nickname %></td>
      <td><%= v.depot_name %></td>
      <td>
        <%= link_to "詳細", vehicle_path(v) %> |
        <%= link_to "購入記録を追加",
              new_purchase_record_path(asset_ref: "Vehicle:#{v.id}", back_to: vehicle_path(v)) %>
      </td>
    </tr>
  <% end %>
</table>
