<h1>車両 登録</h1>

<%= form_with model: @vehicle do |f| %>
  <% if @vehicle.errors.any? %>
    <div style="color:red;"><%= @vehicle.errors.full_messages.to_sentence %></div>
  <% end %>

  <div>区分: <%= f.select :kind, Vehicle.kinds.keys %></div>
  <div>ナンバー: <%= f.text_field :number_plate %></div>
  <div>通称: <%= f.text_field :nickname %></div>
  <div>メーカー: <%= f.text_field :maker %></div>
  <div>型式: <%= f.text_field :model %></div>
  <div>初度登録日: <%= f.date_field :first_registered_on %></div>
  <div>最大積載(kg): <%= f.number_field :max_payload_kg %></div>
  <div>車両重量(kg): <%= f.number_field :curb_weight_kg %></div>
  <div>走行距離(km): <%= f.number_field :odometer_km %></div>
  <div>軸構成: <%= f.text_field :axle_config_text %></div>
  <div>タイヤ本数: <%= f.number_field :tire_count %></div>
  <div>状態: <%= f.text_field :status %></div>
  <div>営業所: <%= f.text_field :depot_name %></div>
  <div>管理者: <%= f.text_field :manager_name %></div>
  <div>連絡先: <%= f.text_field :manager_contact %></div>
  <div>写真URL: <%= f.text_field :cover_image_url %></div>
  <div>備考: <%= f.text_area :note %></div>

  <%= f.submit "登録" %>
<% end %>

<p><%= link_to "一覧へ戻る", vehicles_path %></p>

